.all {
    color: #2c3f1f;
    margin: 6em 5em;
}

.container {
    display: flex;
    padding-bottom: 70px;
}

.title-text {
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 30px;
    margin-left: 0;
    font-size: 1.5em;
}

#description-content {
    font-size: 15px;
    margin-left: 130px;
    display: flex;
    flex-direction: column;
}

.box-container {
    display: flex;
    border: 2px solid;
    padding: 30px;
    border-radius: 50px;
    margin: 30px
}

.value-img {
    height: 400px;
    margin: 0 30px
}