.container {
    display: flex;
    padding: 20px;
}

.add_image {
    height: 50px;
    width: 50px;
    padding: 10px;
}

.photos_container {
    display: flex;
    background-color: #fff;
}

.hotel_room_image {
    height: 300px;
}
.room_container, .info_container {
    display: flex;
}