footer {
    background-color: #2c3f1f;
    color: #f1f3ee;
    padding: 20px 50px;
}

.footer-content {
    font-family: ;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.footer-section {
    font-size: 15px;
    list-style: none;
    flex: 1;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section h2 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #f1f3ee;
    text-decoration: none;
}

.footer-bottom {
    font-size: 10px;
    text-align: center;
    margin-top: 20px;
}

.contact-link {
    color:#f1f3ee;
}